body {
	font-family: 'proxima-nova', 'Helvetica', 'Avenir', 'Arial', 'sans-serif';
	font-weight: 400;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
li {
	line-height: 18px;
	display: list-item;
}

div {
	display: block;
}

a {
	background: transparent;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'proxima-nova','Helvetica','Avenir','Arial',sans-serif;
	color: #3a3a3a;
	margin-top: 25px;
	margin-bottom: 20px;
}

h1 {
	font-size: 22px;
	font-weight: bold;
}

h2 {
	display: block;
	font-size: 1.5em;
}

article h1 {
	padding-left: 10px;
	padding-right: 10px;
	margin: 0 auto;
}

article h2 {
	padding-left: 10px;
	padding-right: 10px;
	margin: 0 auto;
}

article blockquote {
	padding-left: 10px;
	padding-right: 10px;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
	max-width: 550px;
}

ul#navigator {
	position: relative;
	display: block;
	width: 97px;
	padding-top: 5px;
}

ul#navigator li {
	text-align: right;
	margin: 0;
	padding: 0;
	padding-bottom: 5px;
}

ul#navigator li a {
	display: block;
	font-size: 15px;
	line-height: 30px;
	color: #acacac;
}

a, a:visited {
	text-decoration: none;
	color: #333;
	outline: 0;
}

a:link, a:visited, a:hover, a:active {
	color: #333;
	text-decoration: none;
}

section#primary, section#secondary {
	position: relative;
}

section#primary.home {
	width: 70%;
}

section#secondary.home {
	width: 30%;
}

section#primary {
	display: block;
	float: left;
}

section#secondary {
	border: 0 solid blue;
	display: block;
	float: left;
}

section#primary article blockquote {
	border-color: #88ACDB;
}

section#secondary div.breathe {
	padding-right: 50px;
}

section#secondary h1.title {
	color: #acacac;
	font-weight: 100;
}

section#primary h1.title {
	font-family: 'freight-sans-pro';
	color: #acacac;
	font-weight: 100;
	max-width: 550px;
	margin: 0 auto;
	font-size: 35px;
	padding-bottom: 34px;
}
section#primary h1.title span {
	font-weight: 900;
	text-transform: uppercase;
	color: #000;
	font-family: 'freight-sans-pro';
}

section#secondary h1.title section#primary h1.title {
	margin: 0;
	font-size: 30px;
	font-weight: 600;
	color: #000;
	padding-left: 30px;
	padding-top: 36px;
	padding-right: 15px;
	padding-bottom: 34px;

}
h1.title {
	padding-top: 30px;
}

aside#navbar {
	position: fixed;
	background-color: #fff;
	border-right: 1px solid #eee;
	left: 0;
	top: 0;
	bottom: 0;
	width: 125px;
	z-index: 99;
}

aside#navbar h1.logo {
	position: relative;
	display: block;
	margin-left: 52px;
	margin-top: 35px;
	width: 26px;
	height: 26px;
	border: 3px solid white;
	border-radius: 100%;
	background-color: black;
	box-shadow: 0px 0px 0px 5px black;
}

aside#navbar h1.logo a {
	position: relative;
	display: block;
	text-indent: -9999px;
	background-color: #000;
	width: 26px;
	height: 26px;
	border: 3px solid #fff;
	border-radius: 100px;
	margin: 0 auto;
	top: 5px;
}

div#touchmenu {
	z-index: 9999;
	position: absolute;
	width: 55px;
	height: 55px;
	top: 0;
	right: 0;
}

nav#master {
	text-align: right;
}

nav#master {
	position: fixed;
	text-align: right;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 9998;
	border-left: 1px solid #eee;
	height: auto;
	width: 55px;
}

nav#master a#master_indicator {
	border: 3px solid #333;
	width: 20px;
	height: 20px;
	display: block;
	position: relative;
	border-radius: 100px;
	margin-right: 15px;
	background: #fff url(https://dtu1xr3i3b2a1.cloudfront.net/cargo/icons/arrow_down_black-4309ed2aa9ced3b702d2eda70ce014f5.png) no-repeat 49% 55%;
	background-size: 50%;
	float: right;
}

h2#featured_header {
	display: block;
	font-weight: 900;
	color: #ccc;
	padding-left: 10px;
	max-width: 550px;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-size: 20px;
	margin: 0 auto;
	margin-bottom: 40px;
}

section#primary article {
	max-width: 550px;
	margin: 0 auto;
	margin-bottom: 50px;
}

section#primary article h1.article_title a{
	color: #000;
	font-size: 30px;
	text-decoration: none;
	border: 0;
	margin-bottom: 0;
	margin-top: 0;
}

h1#article_title {
	display: block;
	font-weight: 900;
	color: black;
	letter-spacing: 2px;
	margin: 0 auto;
}

section#primary article h2.user_name a {
	color: #88ACDB;
	text-transform: uppercase;
	font-size: 17px;
	letter-spacing: 1px;
	font-weight: 800;

}
